openapi: 3.0.3
info:
  title: Wincl Admin Dashboard API
  version: '1.0'
  description: Admin Controller
servers:
- url: https://api.wincl.io:443
  description: Inferred Url
tags:
- name: Dashboard
  description: Dashboard Controller
paths:
  /api/v1/dashboard/transactionCards:
    get:
      tags:
      - Dashboard
      summary: 대쉬보드 내역 모음
      operationId: listTransactionCardsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WinclResponseDataList«TransactionCard»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
components:
  schemas:
    Transaction:
      title: Transaction
      type: object
      properties:
        amount:
          type: number
          format: bigdecimal
        productName:
          type: string
        timestamp:
          type: integer
          format: int64
    WinclResponseDataList«TransactionCard»:
      title: WinclResponseDataList«TransactionCard»
      type: object
      properties:
        code:
          type: string
        currentPageNum:
          type: integer
          description: 현재 페이지 번호
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionCard'
        message:
          type: string
        pageSize:
          type: integer
          description: 페이지당 아이템 개수
          format: int32
        sortType:
          type: string
          description: 정렬 기준
          enum:
          - AMOUNT_ASC
          - AMOUNT_DESC
          - ASC
          - DESC
          - NONE
          - PRICE_ASC
          - PRICE_DESC
          - UNIT_PRICE_ASC
          - UNIT_PRICE_DESC
        totalCount:
          type: integer
          description: 전체 아이템 개수
          format: int32
        totalPages:
          type: integer
          description: 전체 페이지 수
          format: int32
    TransactionCard:
      title: TransactionCard
      type: object
      properties:
        cardName:
          type: string
          description: 카드 이름
        currency:
          type: string
          description: 통화
          enum:
          - KRW
          - USD
        recentTransactions:
          type: array
          description: 최근 트랜잭션들
          items:
            $ref: '#/components/schemas/Transaction'
        totalAmount:
          type: number
          description: 총 수량 (톤)
          format: bigdecimal
        totalPrice:
          type: number
          description: 총 가격
          format: bigdecimal
  securitySchemes:
    Bearer 토큰 값:
      type: http
      scheme: bearer
      bearerFormat: JWT
