openapi: 3.0.3
info:
  title: Wincl Admin Admin Smart Contract API
  version: '1.0'
  description: Admin Controller
servers:
- url: https://api.wincl.io:443
  description: Inferred Url
tags:
- name: Admin Smart Contract
  description: Admin Smart Contract Controller
paths:
  /bapi/v1/hedera/contracts/carbon-token/balance:
    post:
      tags:
      - Admin Smart Contract
      summary: 토큰 잔고 조회
      operationId: getTokenBalanceUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/carbon-token/metadata:
    post:
      tags:
      - Admin Smart Contract
      summary: 토큰 메타데이터 조회
      operationId: getTokenMetadataUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/credit-operator/info:
    get:
      tags:
      - Admin Smart Contract
      summary: CreditOperator 정보
      operationId: getCreditOperatorInfoUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/credit-operator/mint:
    post:
      tags:
      - Admin Smart Contract
      summary: 토큰 민팅
      operationId: mintCreditUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/credit-operator/pause:
    post:
      tags:
      - Admin Smart Contract
      summary: CreditOperator Pause
      operationId: pauseOperatorUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/credit-operator/unpause:
    post:
      tags:
      - Admin Smart Contract
      summary: CreditOperator Unpause
      operationId: unpauseOperatorUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/migration/execute:
    post:
      tags:
      - Admin Smart Contract
      summary: 기존 거래 마이그레이션 실행 (비동기)
      operationId: migrationExecuteUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/migration/fix-canceled-gifts:
    post:
      tags:
      - Admin Smart Contract
      summary: 취소된 선물 토큰 보정
      operationId: fixCanceledGiftsUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/migration/preview:
    get:
      tags:
      - Admin Smart Contract
      summary: 기존 거래 마이그레이션 미리보기
      operationId: migrationPreviewUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/migration/status:
    get:
      tags:
      - Admin Smart Contract
      summary: 마이그레이션 진행 상태
      operationId: migrationStatusUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/overview:
    get:
      tags:
      - Admin Smart Contract
      summary: 컨트랙트 Overview
      operationId: getOverviewUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/paymaster/add-user:
    post:
      tags:
      - Admin Smart Contract
      summary: Paymaster 사용자 추가
      operationId: addSponsoredUserUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/paymaster/deposit:
    post:
      tags:
      - Admin Smart Contract
      summary: Paymaster HBAR 입금
      operationId: depositToPaymasterUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/paymaster/info:
    get:
      tags:
      - Admin Smart Contract
      summary: Paymaster 정보
      operationId: getPaymasterInfoUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/paymaster/remove-user:
    post:
      tags:
      - Admin Smart Contract
      summary: Paymaster 사용자 제거
      operationId: removeSponsoredUserUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/paymaster/user-info:
    post:
      tags:
      - Admin Smart Contract
      summary: Paymaster 사용자 정보
      operationId: getPaymasterUserInfoUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/paymaster/withdraw:
    post:
      tags:
      - Admin Smart Contract
      summary: Paymaster HBAR 출금
      operationId: withdrawFromPaymasterUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/registry/counts:
    get:
      tags:
      - Admin Smart Contract
      summary: Registry 기록 수
      operationId: getRegistryCountsUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/registry/offset-record:
    post:
      tags:
      - Admin Smart Contract
      summary: Offset 기록 조회
      operationId: getOffsetRecordUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/contracts/registry/transfer-record:
    post:
      tags:
      - Admin Smart Contract
      summary: Transfer 기록 조회
      operationId: getTransferRecordUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
components:
  schemas:
    WinclResponseData«Map«string,object»»:
      title: WinclResponseData«Map«string,object»»
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
  securitySchemes:
    Bearer 토큰 값:
      type: http
      scheme: bearer
      bearerFormat: JWT
