openapi: 3.0.3
info:
  title: Wincl Admin Hedera Contract Info API
  version: '1.0'
  description: Admin Controller
servers:
- url: https://api.wincl.io:443
  description: Inferred Url
tags:
- name: Hedera Contract Info
  description: Hedera Contract Controller
paths:
  /api/v1/hedera/contracts:
    get:
      tags:
      - Hedera Contract Info
      summary: 스마트 컨트랙트 정보 조회
      operationId: getContractsUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /api/v1/hedera/holdings:
    get:
      tags:
      - Hedera Contract Info
      summary: 프로젝트별 온체인 토큰 정보 조회
      operationId: getHoldingsUsingGET
      parameters:
      - name: accountId
        in: query
        description: accountId
        required: true
        style: form
        schema:
          type: string
      - name: projectId
        in: query
        description: projectId
        required: true
        style: form
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /api/v1/hedera/metadata/{tokenId}:
    get:
      tags:
      - Hedera Contract Info
      summary: ERC-1155 토큰 메타데이터 (HashScan 등 외부 탐색기용)
      operationId: getTokenMetadataUsingGET
      parameters:
      - name: tokenId
        in: path
        description: tokenId
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
components:
  schemas:
    WinclResponseData«Map«string,object»»:
      title: WinclResponseData«Map«string,object»»
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
  securitySchemes:
    Bearer 토큰 값:
      type: http
      scheme: bearer
      bearerFormat: JWT
