openapi: 3.0.3
info:
  title: Wincl Admin Admin Order API
  version: '1.0'
  description: Admin Controller
servers:
- url: https://api.wincl.io:443
  description: Inferred Url
tags:
- name: Admin Order
  description: Admin Order Controller
paths:
  /bapi/v1/order/list:
    get:
      tags:
      - Admin Order
      summary: 주문 리스트
      operationId: orderListUsingGET
      parameters:
      - name: pageSize
        in: query
        description: 페이지당 아이템 개수
        required: true
        style: form
        schema:
          type: integer
          format: int32
      - name: pageNum
        in: query
        description: 페이지 넘버
        required: true
        style: form
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseDataList«Order»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/order/{id}:
    get:
      tags:
      - Admin Order
      summary: 주문 상세
      operationId: orderInfoUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Order»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
components:
  schemas:
    WinclResponseData«Order»:
      title: WinclResponseData«Order»
      type: object
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/Order'
        message:
          type: string
    Order:
      title: Order
      type: object
      properties:
        amt_tot:
          type: number
          format: bigdecimal
        currency:
          type: string
        id_ord:
          type: string
        id_usr:
          type: string
        price_tot:
          type: number
          format: bigdecimal
        price_tot_usd:
          type: number
          format: bigdecimal
        status_prog:
          type: string
          enum:
          - AB_ROLLBACK
          - CANCELED
          - FAIL
          - PROCESSING
          - ROLLBACK
          - SUCCESS
        unit_price_avg:
          type: number
          format: bigdecimal
        unit_price_avg_usd:
          type: number
          format: bigdecimal
    WinclResponseDataList«Order»:
      title: WinclResponseDataList«Order»
      type: object
      properties:
        code:
          type: string
        currentPageNum:
          type: integer
          description: 현재 페이지 번호
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        message:
          type: string
        pageSize:
          type: integer
          description: 페이지당 아이템 개수
          format: int32
        sortType:
          type: string
          description: 정렬 기준
          enum:
          - AMOUNT_ASC
          - AMOUNT_DESC
          - ASC
          - DESC
          - NONE
          - PRICE_ASC
          - PRICE_DESC
          - UNIT_PRICE_ASC
          - UNIT_PRICE_DESC
        totalCount:
          type: integer
          description: 전체 아이템 개수
          format: int32
        totalPages:
          type: integer
          description: 전체 페이지 수
          format: int32
  securitySchemes:
    Bearer 토큰 값:
      type: http
      scheme: bearer
      bearerFormat: JWT
