openapi: 3.0.3
info:
  title: Wincl Admin Admin Hedera API
  version: '1.0'
  description: Admin Controller
servers:
- url: https://api.wincl.io:443
  description: Inferred Url
tags:
- name: Admin Hedera
  description: Admin Hedera Controller
paths:
  /bapi/v1/hedera/info:
    get:
      tags:
      - Admin Hedera
      summary: Hedera 계정 정보 조회
      operationId: getHederaInfoUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/migrate-operator:
    post:
      tags:
      - Admin Hedera
      summary: Operator 키 마이그레이션 (Topic)
      operationId: migrateOperatorUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
  /bapi/v1/hedera/transfer:
    post:
      tags:
      - Admin Hedera
      summary: HBAR 전송
      operationId: transferHbarUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WinclResponseData«Map«string,object»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer 토큰 값:
        - global
components:
  schemas:
    WinclResponseData«Map«string,object»»:
      title: WinclResponseData«Map«string,object»»
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
  securitySchemes:
    Bearer 토큰 값:
      type: http
      scheme: bearer
      bearerFormat: JWT
