{"openapi":"3.0.3","info":{"title":"Wincl API","version":"1.0"},"servers":[{"url":"https://api.wincl.io:443","description":"Inferred Url"}],"tags":[{"name":"APIs for the B2B service (ex. Bespin)","description":"B 2 B Store Controller"},{"name":"Admin","description":"Admin Controller"},{"name":"Admin Auth","description":"Admin Auth Controller"},{"name":"Admin FAQ","description":"Admin Faq Controller"},{"name":"Admin Hedera","description":"Admin Hedera Controller"},{"name":"Admin Info","description":"Admin Info Controller"},{"name":"Admin News","description":"Admin News Controller"},{"name":"Admin Notice","description":"Admin Notice Controller"},{"name":"Admin Order","description":"Admin Order Controller"},{"name":"Admin Payment","description":"결제 완료된 건을 관리자가 환불"},{"name":"Admin Product","description":"Admin Product Controller"},{"name":"Admin Project","description":"Admin Project Controller"},{"name":"Admin QnA","description":"Admin Qna Controller"},{"name":"Admin Reward","description":"Admin Reward Program Controller"},{"name":"Admin Smart Contract","description":"Admin Smart Contract Controller"},{"name":"Admin User","description":"가입자 목록 조회"},{"name":"Admin Utils","description":"Admin Utils Controller"},{"name":"Admin Wallet","description":"Admin Wallet Controller"},{"name":"Auth","description":"Auth Controller"},{"name":"CertificateBox","description":"Certificate Box Controller"},{"name":"Coupon","description":"Coupon Controller"},{"name":"CreditBox","description":"Credit Box Controller"},{"name":"Dashboard","description":"Dashboard Controller"},{"name":"FAQ","description":"Faq Controller"},{"name":"Hedera Contract Info","description":"Hedera Contract Controller"},{"name":"Info","description":"Info Controller"},{"name":"Internal Reward","description":"Internal Reward Company Controller"},{"name":"News","description":"News Controller"},{"name":"Notice","description":"Notice Controller"},{"name":"Order","description":"결제 전 주문 단계"},{"name":"Partner","description":"Partner Controller"},{"name":"Payment","description":"주문 후 PG사 결제 단계 (Payco)"},{"name":"Product","description":"Product Controller"},{"name":"Project","description":"Project Controller"},{"name":"QnA","description":"Qna Controller"},{"name":"Ranking","description":"Rank Controller"},{"name":"Reward","description":"Reward Company Controller"},{"name":"Shopping","description":"Shopping Controller"},{"name":"Store","description":"Store Controller"},{"name":"User","description":"User Controller"},{"name":"Utils","description":"Utils Controller"},{"name":"Wallet","description":"Wallet Controller"},{"name":"Webhook","description":"Webhook Controller"},{"name":"health-check-controller","description":"Health Check Controller"}],"paths":{"/bapi/v1/auth/clear-firebase-claim":{"post":{"tags":["Admin Auth"],"summary":"어드민 계정 로그인","operationId":"passwordResetUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInAdminRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/auth/forgot-password":{"post":{"tags":["Admin Auth"],"summary":"비밀번호 초기화 요청","description":"이메일로 임시 비밀번호를 발송합니다.","operationId":"requestForgotPasswordUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInAdminRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/auth/signin":{"post":{"tags":["Admin Auth"],"summary":"어드민 계정 로그인","operationId":"signInUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInAdminRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«SignInAdminResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/admin":{"get":{"tags":["Admin"],"summary":"어드민 리스트","operationId":"getAdminListUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«AdminUser»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin"],"summary":"어드민 생성","operationId":"createAdminUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAdminRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/admin/authority":{"get":{"tags":["Admin"],"summary":"어드민 권한 리스트","operationId":"getAuthoritiesUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«CommonCode»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/admin/profile":{"get":{"tags":["Admin"],"summary":"어드민 프로필","operationId":"getAdminProfileUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminUser»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/admin/tab":{"get":{"tags":["Admin"],"summary":"어드민 탭 리스트","operationId":"getTabListUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminTabResponse»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/admin/{id}":{"get":{"tags":["Admin"],"summary":"어드민 디테일","operationId":"getAdminDetailUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminUser»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin"],"summary":"어드민 수정","operationId":"updateAdminUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAdminRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin"],"summary":"어드민 삭제","operationId":"deleteAdminUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v2/coupons/events/{eventId}":{"delete":{"tags":["Coupon"],"summary":"이벤트, 매직쿠폰 및 연결된 개인쿠폰들을 삭제합니다.","description":"`eventId`는 `/magic/register`에 사용한 값과 같아야 합니다.<br>이벤트, 매직쿠폰 및 발행된 모든 개인쿠폰을 삭제합니다.","operationId":"deleteEventUsingDELETE","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«DeleteEventResult»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v2/coupons/magic/issue":{"post":{"tags":["Coupon"],"summary":"2. 이벤트용 사용자 쿠폰을 벌크로 발행합니다.","description":"`eventId, magicCouponCode, amount`는 `/magic/register`에 사용한 값과 같아야 합니다.<br>이벤트 참여 1개당 개인쿠폰 1개씩 서버 내부에서 연결됩니다.<br>발행할 개인쿠폰 갯수 (`couponCount`)도 윈클로부터 받아야 합니다.","operationId":"issueIndividualCouponsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueIndividualCouponsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«IssueCouponsResult»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v2/coupons/magic/register":{"post":{"tags":["Coupon"],"summary":"1. 이벤트용 매직 쿠폰을 발행합니다.","description":"호출하면 `event*` 필드들로 이벤트를 생성한 후, 나머지 필드들로 매직쿠폰을 생성합니다.<br>`eventId`는 아무 값이나 쓰면 되고, `eventName, eventDescription`은 윈클로부터 받습니다.<br>매직쿠폰은 모든 이벤트 참여자가 공용으로 사용하는 단일쿠폰입니다.<br>`magicCouponCode, productId`는 윈클에서 정해서 알려주어야 합니다.<br>`senderUserId`는 상품을 벌크구매한 윈클 대표 가입자ID이고 `creditId`는 윈클의 구매ID로 둘 다 내부에서 알 수 있습니다.<br>`productId`는 상품ID 입니다. (예: 캄보이아 = 1676884519406W4iqG0qk2W)<br>지급 금액 (`amount`)은 윈클에서 결정하는 각 이벤트 참여자에게 지급할 배출권 양(톤)입니다.","operationId":"registerMagicCouponsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMagicCouponRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«WinclCoupon»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/faq":{"get":{"tags":["Admin FAQ"],"summary":"FAQ 리스트","operationId":"getFaqByCategoryUsingGET","parameters":[{"name":"category","in":"query","description":"카테고리","required":false,"style":"form","schema":{"type":"string"}},{"name":"searchKeyword","in":"query","description":"검색 키워드","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Faq»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin FAQ"],"summary":"FAQ 등록","operationId":"createFaqUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFaqRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/faq/category":{"get":{"tags":["Admin FAQ"],"summary":"FAQ 카테고리 리스트","operationId":"getFaqCategoryUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«FaqCategory»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/faq/{id}":{"get":{"tags":["Admin FAQ"],"summary":"FAQ Detail","operationId":"getFaqUsingGET","parameters":[{"name":"id","in":"path","description":"GET `/faq` 응답의 seq 값","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Faq»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin FAQ"],"summary":"FAQ 수정","operationId":"updateFaqUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFaqRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin FAQ"],"summary":"FAQ 삭제","operationId":"deleteFaqUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/info":{"get":{"tags":["Admin Hedera"],"summary":"Hedera 계정 정보 조회","operationId":"getHederaInfoUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/migrate-operator":{"post":{"tags":["Admin Hedera"],"summary":"Operator 키 마이그레이션 (Topic)","operationId":"migrateOperatorUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/transfer":{"post":{"tags":["Admin Hedera"],"summary":"HBAR 전송","operationId":"transferHbarUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/banner":{"get":{"tags":["Admin Info"],"summary":"마케팅 배너 리스트","description":"info api 없이 리스트에서 전체를 내려줌","operationId":"bannerListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Banner»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Info"],"summary":"마케팅 배너 등록","description":"이미지 등록은 나중에 처리","operationId":"insertBannerUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInsertBannerRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«BannerResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/banner/hide":{"delete":{"tags":["Admin Info"],"summary":"마케팅 배너 Hide","operationId":"hideBannerUsingDELETE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/banner/show/{id}":{"get":{"tags":["Admin Info"],"summary":"마케팅 배너 Show","operationId":"showBannerUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/banner/{id}":{"get":{"tags":["Admin Info"],"summary":"마케팅 배너 상세조회","operationId":"getBannerUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Banner»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Info"],"summary":"마케팅 배너 수정","operationId":"modifyBannerUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInsertBannerRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Info"],"summary":"마케팅 배너 삭제","operationId":"deleteBannerUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/popup":{"get":{"tags":["Admin Info"],"summary":"공지팝업 리스트","operationId":"popupListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«NoticePopupDto»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Info"],"summary":"공지팝업 등록","operationId":"insertPopupUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminNoticePopupRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«NoticePopupResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/popup/hide":{"delete":{"tags":["Admin Info"],"summary":"모든 공지팝업 숨기기","operationId":"hidePopupsUsingDELETE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/popup/show/{id}":{"put":{"tags":["Admin Info"],"summary":"특정 공지팝업 보이기","operationId":"showPopupUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/info/popup/{id}":{"get":{"tags":["Admin Info"],"summary":"공지팝업 상세조회","operationId":"getPopupUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«NoticePopupDto»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Info"],"summary":"공지팝업 수정","operationId":"modifyPopupUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminNoticePopupRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Info"],"summary":"공지팝업 삭제","operationId":"deletePopupUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/news":{"get":{"tags":["Admin News"],"summary":"뉴스 리스트 조회","operationId":"getNewsUsingGET","parameters":[{"name":"category","in":"query","description":"카테고리","required":false,"style":"form","schema":{"type":"string"}},{"name":"searchKeyword","in":"query","description":"검색 키워드","required":false,"style":"form","schema":{"type":"string"}},{"name":"sortType","in":"query","description":"정렬 타입","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«News»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin News"],"summary":"뉴스 등록","operationId":"insertNewsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddNewsRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/news/category":{"get":{"tags":["Admin News"],"summary":"뉴스 카테고리 리스트","operationId":"getNewsCategoryListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«CommonCode»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin News"],"summary":"뉴스 카테고리 추가","operationId":"addNewsCategoryUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddNewsCategoryRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin News"],"summary":"뉴스 카테고리 삭제","operationId":"removeNewsCategoryUsingDELETE","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteNewsCategoryRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/news/{no}":{"get":{"tags":["Admin News"],"summary":"뉴스 디테일","operationId":"getNewsDetailUsingGET","parameters":[{"name":"no","in":"path","description":"no","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«News»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin News"],"summary":"뉴스 업데이트","operationId":"updateNewsUsingPUT","parameters":[{"name":"no","in":"path","description":"no","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNewsRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin News"],"summary":"뉴스 삭제","operationId":"deleteNewsUsingDELETE","parameters":[{"name":"no","in":"path","description":"no","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/notice":{"get":{"tags":["Admin Notice"],"summary":"공지사항 리스트","operationId":"noticeListUsingGET","parameters":[{"name":"category","in":"query","description":"카테고리","required":false,"style":"form","schema":{"type":"string"}},{"name":"searchKeyword","in":"query","description":"검색 키워드","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Notice»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Notice"],"summary":"공지사항 등록","operationId":"insertNoticeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInsertNoticeRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/notice/active":{"get":{"tags":["Admin Notice"],"summary":"활성화된 공지사항 리스트","operationId":"activeNoticeListUsingGET","parameters":[{"name":"category","in":"query","description":"카테고리","required":false,"style":"form","schema":{"type":"string"}},{"name":"searchKeyword","in":"query","description":"검색 키워드","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Notice»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/notice/{id}":{"get":{"tags":["Admin Notice"],"summary":"공지사항 상세정보","operationId":"noticeInfoUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Notice»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Notice"],"summary":"공지사항 수정","operationId":"modifyNoticeUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminModifyNoticeRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Notice"],"summary":"공지사항 삭제","operationId":"deleteNoticeUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/order/list":{"get":{"tags":["Admin Order"],"summary":"주문 리스트","operationId":"orderListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Order»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/order/{id}":{"get":{"tags":["Admin Order"],"summary":"주문 상세","operationId":"orderInfoUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Order»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v2/payment/{purchaseId}/cancel":{"post":{"tags":["Admin Payment"],"summary":"사용자가 이미 구매한 배출권 환불하기","operationId":"refundPaymentUsingPOST","parameters":[{"name":"purchaseId","in":"path","description":"`/bapi/v1/wallet/history/buy`에서 받은 `id_usr_prod_buy` 값","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«RefundPaymentResultData»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/product":{"get":{"tags":["Admin Product"],"summary":"product 리스트","operationId":"productListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«ProductDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Product"],"summary":"product 등록","operationId":"insertProductUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInsertProductRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«ProductResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/product/home":{"get":{"tags":["Admin Product"],"summary":"Home Products 리스트","operationId":"homeProductsUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«HomeProduct»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/product/home/{id}":{"put":{"tags":["Admin Product"],"summary":"Update Home Product Order","operationId":"updateHomeProductUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHomeProductRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Product"],"summary":"Home Products 에 Product 추가","operationId":"addHomeProductUsingPOST","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddHomeProductRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Product"],"summary":"Home Products 에 Product 제거","operationId":"removeHomeProductUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/product/{id}":{"get":{"tags":["Admin Product"],"summary":"product 상세정보","operationId":"productInfoUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«ProductDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Product"],"summary":"product 수정","operationId":"modifyProductUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminModifyProductRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Product"],"summary":"product 삭제","description":"status_srv == ready 일때만 삭제가능","operationId":"deleteProductUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/product/{id}/history":{"get":{"tags":["Admin Product"],"summary":"Product Balance History 리스트","operationId":"productBalanceHistoryListUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«ProductBalanceHistory»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/product/{id}/increment":{"put":{"tags":["Admin Product"],"summary":"product 수량변경","operationId":"updateVolumeUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUpdateProductVolumeRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project":{"get":{"tags":["Admin Project"],"summary":"프로젝트 리스트","operationId":"projectListUsingGET_1","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«ProjectDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Project"],"summary":"프로젝트 등록","description":"프로젝트 이미지는 upload/image 를 사용해서 추가 ","operationId":"insertProjectUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInsertProjectRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«ProjectResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project/agency":{"get":{"tags":["Admin Project"],"summary":"프로젝트 인증 기관 리스트","operationId":"getCertificationAgencyUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«CertificationAgency»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project/effect/list":{"get":{"tags":["Admin Project"],"summary":"프로젝트 효과 리스트","operationId":"projectEffectListUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«CommonCode»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project/type/list":{"get":{"tags":["Admin Project"],"summary":"프로젝트 유형 리스트","operationId":"projectTypeListUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«CommonCode»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project/{id}":{"get":{"tags":["Admin Project"],"summary":"프로젝트 상세정보","operationId":"projectInfoUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«ProjectDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Project"],"summary":"프로젝트 수정","operationId":"modifyProjectUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminModifyProjectRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project/{id}/history":{"get":{"tags":["Admin Project"],"summary":"Project Balance History 리스트","operationId":"projectListUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«ProjectBalanceHistory»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/project/{id}/increment":{"put":{"tags":["Admin Project"],"summary":"프로젝트 수량변경","operationId":"updateVolumeUsingPUT_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUpdateProjectVolumeRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/qna":{"get":{"tags":["Admin QnA"],"summary":"1대1 문의 리스트","operationId":"qnaListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"searchKeyword","in":"query","description":"검색어","required":false,"style":"form","schema":{"type":"string"}},{"name":"loginId","in":"query","description":"유저아이디","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Qna»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/qna/{id}":{"get":{"tags":["Admin QnA"],"summary":"1대1 문의 상세내용","operationId":"qnaInfoUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«QnaDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/qna/{id}/answer":{"put":{"tags":["Admin QnA"],"summary":"1:1 문의 답변 수정","operationId":"updateQnaAnswerUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUpdateAnswerRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin QnA"],"summary":"1:1 문의 답변 등록","operationId":"insertQnaAnswerUsingPOST","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInsertAnswerRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin QnA"],"summary":"1:1 문의 답변 삭제","operationId":"deleteQnaAnswerUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/companies":{"get":{"tags":["Admin Reward"],"summary":"리워드 기업 목록 조회 (검색/필터/페이징)","operationId":"listUsingGET","parameters":[{"name":"keyword","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNo","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"regFrom","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"regTo","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponse«RewardCompany»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Reward"],"summary":"리워드 기업 등록","operationId":"createUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardCompany"}}}},"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/companies/{id}":{"get":{"tags":["Admin Reward"],"summary":"리워드 기업 상세 조회","operationId":"getUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RewardCompany"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Reward"],"summary":"리워드 기업 정보 수정","operationId":"updateUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardCompany"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Reward"],"summary":"리워드 기업 삭제","operationId":"deleteUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/issuances":{"get":{"tags":["Admin Reward"],"summary":"리워드 상품 발급 기록 목록 조회","operationId":"listUsingGET_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RewardIssued"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/issuances/{id}":{"get":{"tags":["Admin Reward"],"summary":"리워드 상품 발급 기록 상세 조회","operationId":"getUsingGET_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RewardIssued"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Reward"],"summary":"리워드 상품 발급 기록 삭제","operationId":"deleteUsingDELETE_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/orders":{"get":{"tags":["Admin Reward"],"summary":"리워드 주문 목록 조회 (전체/검색/필터/페이징)","operationId":"listAllUsingGET","parameters":[{"name":"companyId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNo","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"programId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponse«RewardOrder»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/orders/{id}":{"get":{"tags":["Admin Reward"],"summary":"리워드 주문 상세 조회","operationId":"getUsingGET_2","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RewardOrder"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Reward"],"summary":"리워드 주문 즉시 취소","operationId":"deleteUsingDELETE_2","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/orders/{id}/cancel/approve":{"post":{"tags":["Admin Reward"],"summary":"리워드 주문 취소 요청 승인","operationId":"approveCancelUsingPOST","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/programs/{programId}/orders":{"get":{"tags":["Admin Reward"],"summary":"특정 리워드 프로그램의 주문 목록 조회 (검색/필터/페이징)","operationId":"listByProgramUsingGET","parameters":[{"name":"companyId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNo","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"programId","in":"path","description":"programId","required":true,"style":"simple","allowReserved":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponse«RewardOrder»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/payments":{"get":{"tags":["Admin Reward"],"summary":"리워드 결제 로그 목록 조회","operationId":"listUsingGET_2","parameters":[{"name":"eventType","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNo","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponse«RewardPaymentLog»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/payments/{id}":{"get":{"tags":["Admin Reward"],"summary":"리워드 결제 로그 상세 조회","operationId":"getUsingGET_3","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RewardPaymentLog"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/companies/{companyId}/programs":{"get":{"tags":["Admin Reward"],"summary":"리워드 기업의 프로그램 목록 조회 (검색/필터/페이징)","operationId":"listByCompanyUsingGET","parameters":[{"name":"closeFrom","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"closeTo","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"companyId","in":"query","description":"companyId","required":true,"style":"form","allowReserved":true,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"openFrom","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"openTo","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNo","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponse«RewardProgram»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/programs":{"get":{"tags":["Admin Reward"],"summary":"리워드 프로그램 목록 조회","operationId":"listUsingGET_3","parameters":[{"name":"closeFrom","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"closeTo","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"companyId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"openFrom","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"openTo","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNo","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponse«RewardProgram»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"post":{"tags":["Admin Reward"],"summary":"리워드 프로그램 등록","operationId":"createUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardProgram"}}}},"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v3/rewards/programs/{id}":{"get":{"tags":["Admin Reward"],"summary":"리워드 프로그램 상세 조회","operationId":"getUsingGET_4","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RewardProgram"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"put":{"tags":["Admin Reward"],"summary":"리워드 프로그램 수정","operationId":"updateUsingPUT_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardProgram"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]},"delete":{"tags":["Admin Reward"],"summary":"리워드 프로그램 삭제","operationId":"deleteUsingDELETE_3","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/carbon-token/balance":{"post":{"tags":["Admin Smart Contract"],"summary":"토큰 잔고 조회","operationId":"getTokenBalanceUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/carbon-token/metadata":{"post":{"tags":["Admin Smart Contract"],"summary":"토큰 메타데이터 조회","operationId":"getTokenMetadataUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/credit-operator/info":{"get":{"tags":["Admin Smart Contract"],"summary":"CreditOperator 정보","operationId":"getCreditOperatorInfoUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/credit-operator/mint":{"post":{"tags":["Admin Smart Contract"],"summary":"토큰 민팅","operationId":"mintCreditUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/credit-operator/pause":{"post":{"tags":["Admin Smart Contract"],"summary":"CreditOperator Pause","operationId":"pauseOperatorUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/credit-operator/unpause":{"post":{"tags":["Admin Smart Contract"],"summary":"CreditOperator Unpause","operationId":"unpauseOperatorUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/migration/execute":{"post":{"tags":["Admin Smart Contract"],"summary":"기존 거래 마이그레이션 실행 (비동기)","operationId":"migrationExecuteUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/migration/fix-canceled-gifts":{"post":{"tags":["Admin Smart Contract"],"summary":"취소된 선물 토큰 보정","operationId":"fixCanceledGiftsUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/migration/preview":{"get":{"tags":["Admin Smart Contract"],"summary":"기존 거래 마이그레이션 미리보기","operationId":"migrationPreviewUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/migration/status":{"get":{"tags":["Admin Smart Contract"],"summary":"마이그레이션 진행 상태","operationId":"migrationStatusUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/overview":{"get":{"tags":["Admin Smart Contract"],"summary":"컨트랙트 Overview","operationId":"getOverviewUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/paymaster/add-user":{"post":{"tags":["Admin Smart Contract"],"summary":"Paymaster 사용자 추가","operationId":"addSponsoredUserUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/paymaster/deposit":{"post":{"tags":["Admin Smart Contract"],"summary":"Paymaster HBAR 입금","operationId":"depositToPaymasterUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/paymaster/info":{"get":{"tags":["Admin Smart Contract"],"summary":"Paymaster 정보","operationId":"getPaymasterInfoUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/paymaster/remove-user":{"post":{"tags":["Admin Smart Contract"],"summary":"Paymaster 사용자 제거","operationId":"removeSponsoredUserUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/paymaster/user-info":{"post":{"tags":["Admin Smart Contract"],"summary":"Paymaster 사용자 정보","operationId":"getPaymasterUserInfoUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/paymaster/withdraw":{"post":{"tags":["Admin Smart Contract"],"summary":"Paymaster HBAR 출금","operationId":"withdrawFromPaymasterUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/registry/counts":{"get":{"tags":["Admin Smart Contract"],"summary":"Registry 기록 수","operationId":"getRegistryCountsUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/registry/offset-record":{"post":{"tags":["Admin Smart Contract"],"summary":"Offset 기록 조회","operationId":"getOffsetRecordUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/hedera/contracts/registry/transfer-record":{"post":{"tags":["Admin Smart Contract"],"summary":"Transfer 기록 조회","operationId":"getTransferRecordUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/user":{"get":{"tags":["Admin User"],"summary":"가입 유저 리스트","description":"전체 가입자 리스트를 얻는다. 닉네임, 이메일, 기관코드로 필터링할 수 있다. 각 필터는 부분 문자열로 검색한다. loginId 필터는 과거호환성을 위해서 남겨둔다.\n\n**Usage:**\n- /?nickname={nickname}&...\n- /?email={email}&...\n- /?company={company}&...\n- /?nickname={nickname}&email={email}&...","operationId":"userListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"loginId","in":"query","description":"로그인 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"nickname","in":"query","description":"닉네임","required":false,"style":"form","schema":{"type":"string"}},{"name":"email","in":"query","description":"이메일","required":false,"style":"form","schema":{"type":"string"}},{"name":"company","in":"query","description":"기관 코드","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«User»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/user/{id}":{"get":{"tags":["Admin User"],"summary":"가입 유저 상세정보","description":"UserID로 가입자 상세 정보를 얻는다.","operationId":"userInfoUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«UserDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/utils/nation":{"put":{"tags":["Admin Utils"],"summary":"국가 상응조정률 수정","operationId":"updateCorrespondingAdjustmentRateUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminModifyNationRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/utils/nation/list":{"get":{"tags":["Admin Utils"],"summary":"국가 리스트","operationId":"nationalListUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«Nation»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/utils/upload/image":{"post":{"tags":["Admin Utils"],"summary":"이미지 업로드","operationId":"uploadImageUsingPOST","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image_file","path"],"type":"object","properties":{"image_file":{"type":"string","description":"이미지 파일","format":"binary"},"path":{"type":"string","description":"S3 파일 Path"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«UploadFileResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/cert":{"get":{"tags":["Admin Wallet"],"summary":"유저의 Cert List","operationId":"certListUsingGET","parameters":[{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"loginId","in":"query","description":"유저 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"projId","in":"query","description":"프로젝트 아이디","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"projName","in":"query","description":"프로젝트 이름","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"시작일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"endDate","in":"query","description":"종료일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«AdminCert»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/cert/{projId}/{userId}":{"get":{"tags":["Admin Wallet"],"summary":"유저의 Cert Detail","operationId":"certDetailUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"projId","in":"path","description":"projId","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminCertDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/credit":{"get":{"tags":["Admin Wallet"],"summary":"유저의 Credit list","operationId":"creditListUsingGET","parameters":[{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"loginId","in":"query","description":"유저 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"projId","in":"query","description":"프로젝트 아이디","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"projName","in":"query","description":"프로젝트 이름","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"시작일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"endDate","in":"query","description":"종료일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«AdminCredit»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/credit/offset":{"post":{"tags":["Admin Wallet"],"summary":"Credit 일괄 상쇄하기","operationId":"offsetCreditUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffsetableUserProductRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«List«string»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"915":{"description":"ITEM_NOT_FOUND"},"927":{"description":"AMOUNT_MUST_BE_GRATER_THAN_ZERO"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/credit/{projId}/{userId}":{"get":{"tags":["Admin Wallet"],"summary":"유저의 Credit Detail","operationId":"creditDetailUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"projId","in":"path","description":"projId","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminCreditDetail»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/gift/receive":{"get":{"tags":["Admin Wallet"],"summary":"유저의 받은 선물 리스트","operationId":"receivedGiftListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"loginId","in":"query","description":"유저 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"시작일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"endDate","in":"query","description":"종료일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«AdminReceivedGift»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/gift/receive/{id}":{"get":{"tags":["Admin Wallet"],"summary":"유저의 받은 선물 Detail","operationId":"receiveGiftDetailUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminReceivedGift»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/gift/sent":{"get":{"tags":["Admin Wallet"],"summary":"유저의 보낸 선물 리스트","operationId":"sentGiftListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"loginId","in":"query","description":"유저 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"시작일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"endDate","in":"query","description":"종료일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«AdminSentGift»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/gift/sent/{id}":{"get":{"tags":["Admin Wallet"],"summary":"유저의 보낸 선물 Detail","operationId":"sentGiftDetailUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminSentGift»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/history/buy":{"get":{"tags":["Admin Wallet"],"summary":"유저의 구매내역","operationId":"buyHistoryListUsingGET","parameters":[{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"loginId","in":"query","description":"유저 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"projId","in":"query","description":"프로젝트 아이디","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"prodId","in":"query","description":"프로덕트 아이디","required":false,"style":"form","schema":{"type":"string"}},{"name":"projName","in":"query","description":"프로젝트 이름","required":false,"style":"form","schema":{"type":"string"}},{"name":"prodName","in":"query","description":"프로덕트 이름","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"시작일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"endDate","in":"query","description":"종료일","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«AdminBuyHistory»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/history/buy/cancel":{"get":{"tags":["Admin Wallet"],"summary":"유저의 환불 내역","operationId":"cancelHistoryListUsingGET","parameters":[{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"socialEmail","in":"query","description":"유저 소셜 이메일","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«UserProductCancelHistory»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/history/buy/{id}":{"get":{"tags":["Admin Wallet"],"summary":"유저의 구매내역","operationId":"buyHistoryDetailUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«AdminBuyHistory»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/info":{"get":{"tags":["Admin Wallet"],"summary":"회원 wallet 정보","operationId":"walletInfoUsingGET","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«Wallet»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/bapi/v1/wallet/regenerate-topic":{"post":{"tags":["Admin Wallet"],"summary":"토픽 미보유 지갑 재발급","description":"topicId가 없는 지갑을 신규 Hedera 계정/토픽으로 재발급합니다.","operationId":"regenerateWalletTopicsUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/check/email":{"post":{"tags":["Auth"],"summary":"이메일 중복확인","operationId":"checkEmailUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckEmailRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«CheckEmailResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"940":{"description":"INVALID_SOCIAL_EMAIL"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/check/loginid":{"post":{"tags":["Auth"],"summary":"로그인 아이디 중복확인","operationId":"checkLoginIdUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckLoginIdRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«CheckLoginIdResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"919":{"description":"INVALID_LOGIN_ID"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/check/nickname":{"post":{"tags":["Auth"],"summary":"닉네임 중복확인","operationId":"checkNicknameUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNicknameRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«CheckNicknameResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"920":{"description":"INVALID_NICKNAME"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/jwt/create":{"post":{"tags":["Auth"],"summary":"토큰 발급","operationId":"createJWTUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateJwtRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«CreateJwtResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/payco/accessToken":{"get":{"tags":["Auth"],"summary":"페이코 AccessToken 발급","operationId":"createPaycoAccessTokenUsingGET","parameters":[{"name":"authCode","in":"query","description":"AuthCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WinclResponseData«PaycoAccessTokenResponse»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/signin":{"post":{"tags":["Auth"],"summary":"OAuth 로그인","description":"유저가 존재하면 jwt 내려주고 존재하지않으면 임시회원가입시키고 id_temp_usr 를 내려줌","operationId":"oAuthSignInUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthSignInRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«OAuthSignInResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v1/auth/signup":{"post":{"tags":["Auth"],"summary":"회원가입","operationId":"oAuthSignUpUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthSignUpRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«OAuthSignUpResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"914":{"description":"ALREADY_SIGNED_UP_USER"},"919":{"description":"INVALID_LOGIN_ID"},"920":{"description":"INVALID_NICKNAME"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/auth/signup":{"post":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B customer signup","operationId":"b2bSignUpUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2BSignUpRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«B2BSignInResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/auth/token":{"post":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B customer signin","operationId":"b2bSignInUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2BTokenRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«B2BSignInResponse»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/emails/{email}/duplicated":{"get":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B email duplication","operationId":"b2bCheckEmailUsingGET","parameters":[{"name":"email","in":"path","description":"email","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«boolean»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/products":{"get":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B product list","description":"B2B customers retieves the list available products.","operationId":"b2bListProductsUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseDataList«Product»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/users/duplicated":{"get":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B duplication check for email and phone number","operationId":"b2bCheckPhoneNumberUsingGET","parameters":[{"name":"email","in":"query","description":"email","required":true,"style":"form","schema":{"type":"string"}},{"name":"phoneNumber","in":"query","description":"phoneNumber","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«ContactDuplicated»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/users/{userId}/transactions/purchase":{"get":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B purchase history","description":"List purchase of a customer","operationId":"listPurchaseHistoryUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclAggregationResponse«BuyHistory,PurchaseHistoryAggregation»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/b2b/v2/users/{userId}/transactions/purchase/{purchaseId}":{"get":{"tags":["APIs for the B2B service (ex. Bespin)"],"summary":"B2B purchase detail","description":"Retrieve purchase detail","operationId":"b2bGetPurchaseDetailUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"purchaseId","in":"path","description":"선택한 구매 ID (`id_usr_prod_buy` 값)","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclResponseData«BuyHistory»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v2/certificatebox/item":{"get":{"tags":["CertificateBox"],"summary":"상쇄인증서 보관함 아이템 리스트","operationId":"listCertificateItemsUsingGET","parameters":[{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"페이지 넘버","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WinclAggregationResponse«CertificateBoxItem,CertificateBoxAggregation»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer 토큰 값":["global"]}]}},"/api/v2/certificatebox/item/{id}":{"get":{"tags":["CertificateBox"],"summary":"상쇄인증서 보관함 아이템 상세정보","operationId":"getCertificateBoxItemUsingGET","parameters":[{"name":"id","in":"path","description":"프로젝트 아이디","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}},{"name":"sortType","in":"query","description":"정렬기준","required":false,"style":"form","schema":{"type":"string","enum":["AMOUNT_ASC","AMOUNT_DESC","ASC","DESC","NONE","PRICE_ASC","PRICE_DESC","TRANSACTION_TYPE_ASC","TRANSACTION_TYPE_DESC","UNIT_PRICE_ASC","UNIT_PRICE_DESC"]}},{"name":"pageSize","in":"query","description":"페이지당 아이템 개수","required":true,"style":"form","schema":{"type":"integer","format"
[...]
